.git
**/.env
**/.env.*
!**/.env.example
.local
**/*.local.yml
**/*.local.yaml
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.venv
**/node_modules
**/*.log
**/*.db
**/*.db-shm
**/*.db-wal
**/.DS_Store
